<div class="home-container">
    <div class="header">
        <h1>Bem-vindo ao Gerenciador de Campeonatos!</h1>
        <p>Escolha uma das opções abaixo:</p>
    </div>

    <div class="button-container">
        <button class="nav-button" (click)="navigateTo('Login')">Login</button>
        <button class="nav-button" (click)="navigateTo('Criar_Campeonato')">Criar Campeonato</button>
        <button class="nav-button" (click)="navigateTo('Visualizar_Campeonatos')">Visualizar Campeonatos</button>
        <button class="nav-button" (click)="navigateTo('Times')">Visualizar Times</button>
        <button class="nav-button" (click)="navigateTo('Peladeiros')">Gerador de Times</button>
    </div>
</div>
