/* Container principal */
.criar-time {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/fundo.jpg') no-repeat center center;
  background-size: cover;

  min-height: 100vh;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
header {
  width: 100%;
  max-width: 900px;
}

header button {
  background: #1b66ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

header button:hover {
  background: #554af5;
  transform: scale(1.05);
}

/* Título */
.criar-time h1 {
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
}

/* Mensagem de erro */
.erro {
  color: #ff0404;
  margin-bottom: 15px;
}

/* Formulário */
.form {
  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 30px;
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
}

/* Labels */
.form label {
  color: #e2e8f0;
  font-size: 0.95rem;
}

/* Inputs */
.form input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;

  font-size: 1rem;
  background: rgba(255, 255, 255, 0.9);
  color: #000000;
}

/* Foco */
.form input:focus {
  box-shadow: 0 0 0 2px #1b66ff;
}

/* Upload escudo */
.upload-escudo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Preview do escudo */
.escudo-preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-top: 10px;
  align-self: center;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* Título jogador */
.form h3 {
  color: #ffffff;
  margin-top: 10px;
}

/* Botões */
.form button {
  background: #1b66ff;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.form button:hover {
  background: #554af5;
  transform: scale(1.03);
}

/* Lista de jogadores */
.form ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

/* Item jogador */
.form li {
  background: rgba(2, 6, 23, 0.8);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e2e8f0;
}

/* Botão remover jogador */
.form li button {
  background: #ff1b1b;
  padding: 5px 10px;
  font-size: 0.8rem;
}

.form li button:hover {
  background: #554af5;
}

/* Linha */
hr {
  margin: 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Mensagem */
.mensagem {
  text-align: center;
  margin-top: 10px;
  color: #3cff00;
  font-weight: 500;
}
p {
  color: #ffffff;
}